<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>爬新闻咯</title>
    <script type="text/javascript" th:inline="javascript">
        var news = [[${news}]];
        for (i = 0; i < news.length; i++) {
            console.log(news[i])
        }
    </script>
</head>

<body>


<article th:each="articles:${news}">
    <header><h1 th:text="${articles.operator}"></h1></header>
    <section th:each="article:${articles.strings}">
        <form action="/detail" method="post">
            <a href="javascript:" th:text="${article[0]}" onclick="parentNode.submit();"></a>
            <input th:type="hidden" name="title" th:value="${article[0]}"/>
            <input th:type="hidden" name="content" th:value="${article[1]}"/>
        </form>
    </section>
</article>


</body>
</html>